<h3>Add Product</h3>
<table>
    <tr>
        <td>Product Id:</td>
        <td>
            <input type="number" [(ngModel)]="prodId" />
        </td>
    </tr>
    <tr>
        <td>Product Name:</td>
        <td>
            <input type="text" [(ngModel)]="prodName" />
        </td>
    </tr>
    <tr>
        <td>Product Price:</td>
        <td>
            <input type="number" [(ngModel)]="prodPrice" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="Add Product" (click)="addProduct()" />
        </td>
    </tr>
</table>

<hr>

<h3>Show Product</h3>
<table border="2px">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Cost</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let pro of products;">
        <td>{{pro.prodId}}</td>
        <td>{{pro.prodName}}</td>
        <td>{{pro.prodPrice}}</td>
        <td>
            <button type="button" (click)="searchProduct(index)" >Update</button>
            <button type="button" (click)="deleteProduct(index)" >Delete</button>
        </td>
    </tr>
</table>

<hr>

<div *ngIf="flag">
    <h3>Update Product</h3>
        <table>
            <tr>
                <td>Product Id:</td>
                <td>
                    <input type="number" [(ngModel)]="uProdId" />
                </td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td>
                    <input type="text" [(ngModel)]="uProdName" />
                </td>
            </tr>
            <tr>
                <td>Product Price:</td>
                <td>
                    <input type="number" [(ngModel)]="uProdPrice" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="Update Product" (click)="updateProduct()" />
               </td>
           </tr>
    </table>
</div>